<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="medium">
    <h1 class="centrar">Este es el home</h1>
  </ion-text>
  <ion-button expand="block" color="success" size="large" fill="solid" routerLink="/pagina2">
    <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
    Página 2</ion-button>
  
  <ion-button expand="block" size="large" routerLink="/pagina3">
    
    <ion-icon slot="start" name="basketball-outline"></ion-icon>
    Pagina 3
  </ion-button>

  <ion-button color="warning" expand="block" size="large" routerLink="/pagina3">
    <ion-icon slot="start" name="beer-outline"></ion-icon>
    Click me
  </ion-button>

</ion-content>